[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper
[submodule "src/video_stream_opencv"]
	path = src/video_stream_opencv
	url = https://github.com/leoll2/video_stream_opencv
[submodule "src/darknet_ros/darknet"]
	path = src/darknet_ros/darknet
	url = https://www.github.com/alexeyab/darknet
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/leoll2/web_video_server
[submodule "src/mbzirc_control"]
	path = src/mbzirc_control
	url = https://github.com/lorenzoferrini/mbzirc_control
