<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Suggested camera sizes: 640x480, 1280x720 -->

    <!-- Ausdom camera -->
    <include file="$(find video_stream_opencv)/launch/camera.launch">
    	<arg name="camera_name" value="ausdom_cam" />
    	<!-- device identifier /dev/videoX -->
    	<arg name="video_stream_provider" value="0" />
    	<!-- camera fps -->
    	<arg name="set_camera_fps" value="30" />
    	<!-- frames per second to query the camera for -->
    	<arg name="fps" value="30" />
    	<!-- force width and height, 0 means no forcing -->
	    <arg name="width" value="640"/>
	    <arg name="height" value="480"/>
	    <arg name="visualize" value="false"/>
    </include>

    <!-- Mobius camera -->
    <include file="$(find video_stream_opencv)/launch/camera.launch">
    	<arg name="camera_name" value="mobius_cam" />
    	<!-- device identifier /dev/videoX -->
    	<arg name="video_stream_provider" value="1" />
    	<!-- camera fps -->
    	<arg name="set_camera_fps" value="30" />
    	<!-- frames per second to query the camera for -->
    	<arg name="fps" value="30" />
    	<!-- force width and height, 0 means no forcing -->
	    <arg name="width" value="640"/>
	    <arg name="height" value="480"/>
	    <arg name="visualize" value="false"/>
    </include>

</launch>
