<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="port"    default="8080" />
    <arg name="address" default="0.0.0.0" />
    <arg name="type"    default="mjpeg" />

    <!-- Stream detection image -->
    <group>
        <include file="$(find web_video_server)/launch/web_video_server.launch">
		    <arg name="port" value="$(arg port)" />
            <arg name="address" value="$(arg address)" />
            <arg name="type" value="$(arg type)" />
        </include>
    </group>

</launch>
