<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Suggested camera sizes: 640x480, 1280x720 -->

    <arg name="short_cam" default="zed" />
    <arg name="long_cam" default="mobius" />

    <!-- Short-range camera -->
    <include file="$(find video_stream_opencv)/launch/camera.launch" unless="$(eval arg('short_cam') == 'zed')">
    	<arg name="camera_name" value="$(arg short_cam)" />
    	<!-- device identifier /dev/videoX -->
    	<arg name="video_stream_provider" value="0" />
    	<!-- camera fps -->
    	<arg name="set_camera_fps" value="30" />
    	<!-- frames per second to query the camera for -->
    	<arg name="fps" value="30" />
    	<!-- force width and height, 0 means no forcing -->
	    <arg name="width" value="640"/>
	    <arg name="height" value="480"/>
	    <arg name="visualize" value="false"/>
    </include>

    <!-- Long-range camera -->
    <include file="$(find video_stream_opencv)/launch/camera.launch" unless="$(eval arg('long_cam') == 'zed')">
    	<arg name="camera_name" value="$(arg long_cam)" />
    	<!-- device identifier /dev/videoX -->
    	<arg name="video_stream_provider" value="1" />
    	<!-- camera fps -->
    	<arg name="set_camera_fps" value="30" />
    	<!-- frames per second to query the camera for -->
    	<arg name="fps" value="30" />
    	<!-- force width and height, 0 means no forcing -->
	    <arg name="width" value="640"/>
	    <arg name="height" value="480"/>
	    <arg name="visualize" value="false"/>
    </include>

    <!-- Zed camera -->
    <group>
        <remap from="/zed/zed_node/left/image_rect_color" to="/zed/image_raw" />
        <remap from="/zed/zed_node/depth/depth_registered" to="/zed/depth_map" />
        <remap from="/zed/zed_node/pose" to="/zed/pose" />
        <include file="$(find zed_wrapper)/launch/zed.launch" if="$(eval arg('short_cam') == 'zed')">
            <arg name="node_name" value="zed_node" />
        </include>
        <include file="$(find zed_wrapper)/launch/zed.launch" if="$(eval arg('long_cam') == 'zed')">
            <arg name="node_name" value="zed_node" />
        </include>
    </group>

</launch>
