<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Supported cameras configuration file -->
  <arg name="camera_params"         default="$(find distance_finder)/config/cameras.yaml"/>
  <arg name="target_params"         default="$(find distance_finder)/config/targets.yaml"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="distance_finder" file="$(arg camera_params)"/>
  <rosparam command="load" ns="distance_finder" file="$(arg target_params)"/>

  <!-- Start distance finder -->
  <node pkg="distance_finder" type="distance_finder" name="distance_finder" output="screen">
  </node>

</launch>
